@import 'bootstrap/dist/css/bootstrap';

body {
  padding-top: 100px;
}

/* on dev make redux-devtool always shown */
.navbar-fixed-top {
  z-index: 998;
}

.user-list {
  ul,
  li {
    list-style-type: none;
    padding: 10px 0px;
  }

  li {
    padding: 10px 20px;

    img {
      margin-right: 10px;
    }
  }
}
